{% extends 'base.html' %}


{% block middle %}
<div class="container">
  <div class="row h-100">

    <div class="col-6 text-light">
      <h1>{{ application.applicant.full_name }}</h1>
      <h2>Subject: {{ application.title }}</h2>
      <a href="{% url 'leave_types:leave_detail' application.leave_type.id %}"><h2>Type: {{ application.leave_type.leave_type }}</h2></a>
      <h5>{{ application.body }}</h5>
      <br>
      <h4>Leave Start Date: {{ application.leave_start_date }}</h4>
      <h4>Leave End Date: {{ application.leave_end_date }}</h4>
      <h4>Leave For: {{ application.total_leave }} days</h4>

      <br>
      {% if user.is_staff and application.status == 'PANDING' %}
        <a href="{% url 'applications:approve_or_denay' application.id 1 %}" class="btn btn-large active btn-primary my-2">Approve</a>

        <a href="{% url 'applications:approve_or_denay' application.id 0 %}" class="btn btn-large active btn-primary my-2">Denay</a>
      {% else %}
        <h3>Status: {{ application.status }}</h3>
      {% endif %}
    </div>

    <div class="col-6 ml-auto text-white">
      {% if user.is_staff %}
      <h4>Panding Applications</h4>
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Leave Type</th>
              <th scope="col">Leave Start Date</th>
              <th scope="col">Leave End Date:</th>
            </tr>
          </thead>
          <tbody>
            {% with pand=application.applicant.panding_applications %}
            {% for panding in pand %}
              <tr>
                <th scope="row">{{panding.leave_type.leave_type}}</th>
                <td>{{ panding.leave_start_date }} days</td>
                <td>{{ panding.leave_end_date }} days</td>
              </tr>
            {% endfor %}
            {% endwith %}
          </tbody>
        </table>

        <h4>Approved Applications</h4>
          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">Leave Type</th>
                <th scope="col">Leave Start Date</th>
                <th scope="col">Leave End Date:</th>
              </tr>
            </thead>
            <tbody>
              {% with accep=application.applicant.accepted_applications %}
              {% for ac in accep %}
                <tr>
                  <th scope="row">{{ac.leave_type.leave_type}}</th>
                  <td>{{ ac.leave_start_date }} days</td>
                  <td>{{ ac.leave_end_date }} days</td>
                </tr>
              {% endfor %}
              {% endwith %}
            </tbody>
          </table>

          <h4>Rejected Applications</h4>
            <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">Leave Type</th>
                  <th scope="col">Leave Start Date</th>
                  <th scope="col">Leave End Date:</th>
                </tr>
              </thead>
              <tbody>
                {% with rejec=application.applicant.rejected_applications %}
                {% for rej in rejec %}
                  <tr>
                    <th scope="row">{{rej.leave_type.leave_type}}</th>
                    <td>{{ rej.leave_start_date }} days</td>
                    <td>{{ rej.leave_end_date }} days</td>
                  </tr>
                {% endfor %}
                {% endwith %}
              </tbody>
            </table>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
