{% extends 'base.html' %}


{% block anonymouss %}
  <div class="container text-white">
    <h2>About Us:</h2>
    <h3>This project is developed by students of Begum Rokeya University, Rangpur.
        This is a server side web application developed using Django.
        Initial target is to use this software only in Computer Science Department.
        This web application is still in beta testing phase.</h3>
  </div>
{% endblock %}


{% block middle %}
  <div class="container text-white">
    <h2>About Us:</h2>
    <h3>This project is developed by students of Begum Rokeya University, Rangpur.
        This is a server side web application developed using Django.
        Initial target is to use this software only in Computer Science Department.
        This web application is still in beta testing phase.</h3>
  </div>
{% endblock %}
