{% extends 'base.html' %}


{% block anonymouss %}
  <div class="container text-white">
    <h4>
      This is a complete system that follows all the rules of leave implied by Govt. of Bangladesh. Howover there is some exception rules that can't be implied in logic. Those decisions must be taken by administrator based on the situation.
        Features of this application is given below.<br><br>

    <b>Staff Features:</b>
      <ol>
        <li>Staff can log in with proper credentials provided by admin(email and password)</li>
        <li>Staff can update this profile name,image,bio and password(it is recomended to update profile after getting credentials for the first time.</li>
        <li>Staff can see all kind of available types of leave and conditions to avail those leaves. There is also a pdf file in bangla for Bangladesh Govt. Rule 1959.</li>
        <li>Staff can apply for leave. Provide Subject,Type of Leave, application summary, interval of leave and maybe some document Ex. Doctors prescription. All Documents must be ziped in single file.</li>
        <li>Application will go through a number of checkings.</li>
        <li>After admins response on the application staff can see if there application is approved or rejected.</li>
        <li>Staff can see all his pandin,approved and rejected applications.</li>
      </ol>
      <br><br>

    <b>Admin Features:</b>
      <ol>
        <li>Admin have the power to handle everything. Admin can create Staff Account and delete Staff Account.</li>
        <li>Admin can create, update and delete Leave Type.</li>
        <li>Leave type contains type name, description, total number of months leave available in entire job life and numer of months leave can be availed per year and does leave depands on number of day worked or not.</li>
        <li>Admin can see application from all the staff and admin can approve or reject any application.</li>
        <li>Application will go through a number of checkings before submition. After an application is approved the number of day leave taken is subtracted from the number of day leave available for that staff.</li>
        <li>In staff profile admin can see all the application send by that staff catagorized by the application status.</li>
        <li>Admin panel is restricted.</li>
      </ol>
    </h4>
  </div>
{% endblock %}


{% block middle %}
  <div class="container text-white">
    <h4>
      This is a complete system that follows all the rules of leave implied by Govt. of Bangladesh. Howover there is some exception rules that can't be implied in logic. Those decisions must be taken by administrator based on the situation.
        Features of this application is given below.<br><br>

    <b>Staff Features:</b>
      <ol>
        <li>Staff can log in with proper credentials provided by admin(email and password)</li>
        <li>Staff can update this profile name,image,bio and password(it is recomended to update profile after getting credentials for the first time.</li>
        <li>Staff can see all kind of available types of leave and conditions to avail those leaves. There is also a pdf file in bangla for Bangladesh Govt. Rule 1959.</li>
        <li>Staff can apply for leave. Provide Subject,Type of Leave, application summary, interval of leave and maybe some document Ex. Doctors prescription. All Documents must be ziped in single file.</li>
        <li>Application will go through a number of checkings.</li>
        <li>After admins response on the application staff can see if there application is approved or rejected.</li>
        <li>Staff can see all his pandin,approved and rejected applications.</li>
      </ol>
      <br><br>

    <b>Admin Features:</b>
      <ol>
        <li>Admin have the power to handle everything. Admin can create Staff Account and delete Staff Account.</li>
        <li>Admin can create, update and delete Leave Type.</li>
        <li>Leave type contains type name, description, total number of months leave available in entire job life and numer of months leave can be availed per year and does leave depands on number of day worked or not.</li>
        <li>Admin can see application from all the staff and admin can approve or reject any application.</li>
        <li>Application will go through a number of checkings before submition. After an application is approved the number of day leave taken is subtracted from the number of day leave available for that staff.</li>
        <li>In staff profile admin can see all the application send by that staff catagorized by the application status.</li>
        <li>Admin panel is restricted.</li>
      </ol>
    </h4>
  </div>
{% endblock %}
